{% extends "analysis/dashboard.html" %}

{% block title %}Submit Malware Analysis{% endblock %}

{% block content %}
<div class="container mx-auto py-6 px-4 md:px-6 lg:px-8">
  <h2 class="text-xl md:text-2xl font-semibold text-gray-200 mb-6 text-center">Submit Malware Analysis</h2>

  <!-- Message Alert Section -->
  {% if messages %}
  <div id="notification" class="alert alert-dismissible fade show mb-4" role="alert">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} bg-blue-600 text-center p-3 md:p-4 rounded" style="color: green;">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endfor %}
  </div>
  {% endif %}

  <script>
    // Set timer to hide notification after 3 seconds
    setTimeout(function () {
        var notification = document.getElementById('notification');
        if (notification) {
            notification.style.transition = 'opacity 0.5s ease';
            notification.style.opacity = '0'; // Fade out
            setTimeout(function () { notification.remove(); }, 500); // Remove after fade out
        }
    }, 3000);
  </script>

  <div class="flex justify-center">
    <div class="card w-full sm:w-11/12 md:w-3/4 lg:w-1/2 bg-slate-800 p-6 md:p-8 rounded-lg shadow-lg">
      <div class="card-header bg-blue-600 text-white text-center p-3 md:p-4 rounded-t-lg">
        <h5 class="text-md md:text-lg font-medium">Fill out the details below:</h5>
      </div>
      <div class="card-body bg-slate-700 p-4 md:p-6">
        <form method="post">
          {% csrf_token %}
          <div class="mb-4">
            <label for="evidence" class="text-gray-200 block mb-2">Evidence</label>
            {{ form.evidence|add_class:"w-full p-2 bg-gray-800 border border-gray-600 rounded-md text-gray-300" }}
            {% if form.evidence.errors %}
              <div class="text-red-500 mt-2">{{ form.evidence.errors.as_text }}</div>
            {% endif %}
          </div>
          <div class="mb-4">
            <label for="analysis_result" class="text-gray-200 block mb-2">Analysis Result</label>
            {{ form.analysis_result|add_class:"w-full p-2 bg-gray-800 border border-gray-600 rounded-md text-gray-300" }}
            {% if form.analysis_result.errors %}
              <div class="text-red-500 mt-2">{{ form.analysis_result.errors.as_text }}</div>
            {% endif %}
          </div>
          <button type="submit" class="btn w-full sm:w-auto bg-blue-600 text-white rounded px-6 py-2 mt-4 hover:bg-blue-700">Submit Analysis</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
